.find-article {
    margin-top: 33px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.articles-container {
    width: 800px;
    height: auto;
    margin: 50px auto;
    border: 5px solid red;
}